.post-container {
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    align-content: center;
    text-align: left;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    border-radius: 0px;
    border: 0.5px solid #cacaca;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.btn-update{
    background-color :rgb(134, 134, 134);
    box-shadow: rgb(122, 122, 122);
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 95px;
    width: 70px;
    height: 25px;
    font-size: 10px;
    padding: 0;
    align-content: center;
}

.btn-delete{
    background-color: rgb(255, 92, 92);
    box-shadow: rgb(214, 68, 68);
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 70px;
    height: 25px;
    font-size: 10px;
    padding: 0;
    align-content: center;
}

.date{
    font-size: 10px;
    color: grey;
}

.btn-new-post{
    background-color: #2793ae;
    border-radius: 15px;
    margin: auto;
    width: 50%;
    height: 50px;
}

.post-button{
    background-color: #2793ae;
    border-radius: 15px;
    margin: auto;
    width: 30%;
    height: 30px;
    padding: 0;
}

.status-update-input-box {
    background-color: #fefefe;
    width: 63.5%;
    border: 0.5px solid #cacaca;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding: 10px;
  }

  textarea {
    outline:none; 
    resize: none;
    width: 100%;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #cacaca;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .post-container-container {

    width: 75%;
    background-color: f7f7f7;
    padding: 25px;
  }

  .post-container-container-home {

    width: 75%;
    background-color: f7f7f7;
    padding: 25px;
    margin-top: -300px;
    margin-left: 310px;
  }

  .post-container-home {
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 15px;
    width: 60%;
    align-content: center;
    text-align: left;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    border-radius: 0px;
    border: 0.5px solid #cacaca;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  }

  .username {
    font-size: 16px;
    text-transform: capitalize;
    color: darkblue;
    font: bold;
    margin-bottom: 10px;
  }